<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>

  <body>
    <h1>Welcome to Safe Space</h1>
    <img src="https://www.dropbox.com/s/3c8m9tq7vach3ei/Safe.png?dl=0">

    <!-- Insert Your Form Below -->

<form method="POST" action="/homes">
  <p>Email: <input type="text" name= "email">
  </p>
  <p>Password: <input type="text" name= "password"></p>
  <input type="submit">
  
</form>

  </body>
</html>